:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /*100% view height*/
  width: 100vw; /*100% view width*/
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: var(--text);
  line-height: 1.3;
}

html {font-size: 100%;} /* 16px */

h1 {
  font-size: 4.210rem; /* 67.36px */
  /* font-size: var(--h1); */
  letter-spacing: -0.025em;
}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

html[data-theme="light"] {
  --text: rgb(9, 18, 21);
  --background: rgb(248, 250, 252);
  --primary: rgb(34, 86, 104);
  --secondary: rgb(130, 199, 222);
  --accent: rgb(44, 166, 206);
  --invert: invert(1);
}
html[data-theme="dark"] {
  --text: rgb(234, 243, 246);
  --background: rgb(3, 5, 7);
  --primary: rgb(151, 204, 221);
  --secondary: rgb(33, 102, 125);
  --accent: rgb(49, 171, 211);
  --invert: invert(0);
}

body {
  font-weight: 400;
  overflow: scroll;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  box-sizing: border-box; /* Include padding and border in element's size */
  overflow-x: hidden; /* Hide horizontal overflow */
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover{
  color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
